html {
    position: relative;
    min-height: 100%;
}

body {
//    background-color: #fafafa;
//      font-size: 13.5px;
//    font-family:Arial,Helvetica,sans-serif;
//    font-family:"PT Serif", sans-serif;
}


h1,h2,h3,h4 {
    margin-bottom: -8px;
//    font-family:"Helvetica Narrow", sans-serif;
//    font-weight: 600;
}

h3 {font-size: 21px;}

.navbar-color {
    background-color: #f5f5f5;
//    font-family:"Helvetica Narrow", sans-serif;
}

.navbar-brand {
//    font-size: 19px;
    color: #4f4f4f;
    font-weight: 600;
}

.nav-index {
    font-size: 13px;
    color: #7f7f7f;
//    margin-top: 1px;
//    font-family:"PT Serif", sans-serif;
}

.sidebar {
/* 
    background-color: #e5e5e5;
    background-image: url(images/intro.jpg); 
    background-size: auto 100%;
    background-position: top left;
    color: #dedede;
    letter-spacing: +0.1px;
    font-style: italic;
*/
    height: 100%;
    font-size: 14px;
    background-color: #ffffff;
}

.highlight {
    font-size: 14.5px;
    font-weight: 300;
}

.image-container {
    width: 75%;
    max-width: 230px;
}

.bs-callout {
    padding:0px;
    padding-left:6px;
    margin: 3px 0px 0px 9px;
    border-radius:0px;
    border-left-color:#efefef;
    border-left-width:1px;
    border-top:0px;
    border-right:0px;
    border-bottom:0px;
}

.bs-callout-light {
    padding:1px;
    padding-left:6px;
    margin: 3px 0px 0px 20px;
    border-left-width:1.2px;
    border-radius:1.5px;
    border-left-color:#ce4844;
    border-top:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}

.navbar-right {
    padding-right:260px;
}

.lightfont {
    font-size: 13.5px;
}

.sulightfont {
    font-size: 13px;
}
